.finder__wrapper {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  .finder__title {
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: $font-semibold;
    letter-spacing: 4px;
    font-size: 28px;
  }

  .finder__grid {
    display: flex;
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    .field {
      width: 40px;
      height: 40px;
      border: 2px solid $color-white;
    }
  }

  .finder__button {
    color: $color-white;
    background-color: $color-red;
    border-color: $color-red;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 12px;
    font-weight: $font-semibold;
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 50px;
    position: absolute;
    left: 25%;
  }
}
